Variables & Datatypes

In [7]:

# Read a string from standard input. The trailing newline is stripped.
# The prompt string, if given, is printed to standard output without 
# a trailing newline before reading input.
score = input("Enter a animal")
# print the score
print(score)

In [3]:
# check what type of object is 'score'
# it's of type 'str'
type(score)

str

In [4]:
# print the product of 2 times 'score'
# cannot perform arithmatic operations (*, /, +, -) on a string 
# all this does is make copies of the string
print(4 * score)

pigpigpigpig

In [5]:
# we convert the string to integer so, we can perform arithmatic operations
score = int(score)
type(score)

ValueError: invalid literal for int() with base 10: 'pig'

In [ ]:
# Now we can perform arithmatic operations on the integer value we converted from the string
print(2 * score)

In [ ]:
# an object with the value of 1
# the object 'score_1' is type integer
score_1 = 1
# the object sentence is given an additional object 'score_1'
# score_1 is converted from an integer to a string
sentence = "My score is " + str(score_1)
print(sentence)

In [ ]:
number_of_moons = 79 
sentence = "the total number of moons is " + str(number_of_moons)
print(sentence)

In [6]:
age_in_years = input("what is your age in years? ")
age_in_moths = int(age_in_years) * 12
print("my age in months is:", age_in_moths)

my age in months is: 60