Variables & Datatypes

### Input
 `Input` is data that the program receives.\
 When a program receives data it usually processes it by preforming some operations\
 with it. The result is sent out of a program as `output`.

 Computer program typically perform the following three-step process.
 1. `Input` is received .
 2. Some process is performed on the `input`. 
 3. `Output` is produced.

In [2]:
# receives input
score = input("Enter a animal")
# print the output
print(f"Output: {score}")

Output: Dog

### Type
#### datatypes
Because different types of numbers are stored and manipulated in different ways,\
`Python` uses `datatypes` to categorize values in memory. When an integer is stored in memory, \
it is classified as an `int`, and when a real number is in memory, it is classified as a `float`


`Stored in Memory:`
```python
# The value is being stored in memory. And makes the room variable reference it.
room = 503
```
When the program interpreter read's a `numeric literal` in a programs code, \
it determines its `datatype` according to the following rules:\\

- A `numerical literal` that is written as a `whole number` with no `decimal point`\
is considered an `int`. Example: 
7, 124, & -9

- A `numerical literal` that is written with a `decimal point` is considered a `float`. 
Example: 
1.5, 3.14159, and 5.0

Some operations behave differently depending on the type of data involved,  and some operations cans only be performed on value of a specific `datatype`.

You can use the `built-in` type function in interactive mode to determine the `datatype` of a value

```

type(1)

# output
<class 'float'>
```

In [3]:
# check what type of object is 'score'
# it's of type 'str'
type(score)

str

In [4]:
# print the product of 2 times 'score'
# cannot perform arithmatic operations (*, /, +, -) on a string 
# all this does is make copies of the string
print(4 * score)

pigpigpigpig

In [5]:
# we convert the string to integer so, we can perform arithmatic operations
score = int(score)
type(score)

ValueError: invalid literal for int() with base 10: 'pig'

In [ ]:
# Now we can perform arithmatic operations on the integer value we converted from the string
print(2 * score)

In [ ]:
# an object with the value of 1
# the object 'score_1' is type integer
score_1 = 1
# the object sentence is given an additional object 'score_1'
# score_1 is converted from an integer to a string
sentence = "My score is " + str(score_1)
print(sentence)

In [ ]:
number_of_moons = 79 
sentence = "the total number of moons is " + str(number_of_moons)
print(sentence)

In [6]:
age_in_years = input("what is your age in years? ")
age_in_moths = int(age_in_years) * 12
print("my age in months is:", age_in_moths)

my age in months is: 60